@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.header {
    position: fixed;
    bottom: 0;
}

.heading {
    font-size: 10px;
}



.navbar-toggler {

    border: 0px;
}

.navbar-brand {
    color: #000000;
    font-weight: 700;
    font-family: "Roboto";
}

.stats {
    background-color: #e6ecff;
    text-align: center;
}

.para {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 12px;
}

.icons {
    padding: 10px;
    margin-bottom: 10px;
}

.safe {
    background-color: #009933;
    padding: 15px;
}

.safe-desc {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto";
    padding-left: 15px;
}

.a {
    color: #ffffff;
    font-size: 15px;
    padding-left: 15px;
}

.things {
    background-color: #ffffff;
    padding: 10px;
    height: 45px;
}

.para1 {
    font-size: 15px;
    padding-left: 15px;
    font-weight: bold;
    text-align: center;
}

.heads {
    font-size: 15px;
    padding: 10px;
    margin: 10px;

}

.head {
    font-size: 20px;
}

.mediacard {
    border-color: #f0f0f5;
    border-width: 1px;
    border-style: solid;
    text-align: center;


}

.mediadesc {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
}

.embed-responsive {
    height: 80px;
    width: 200px;
}

.img {
    height: 40px;
    width: 30px;

}

.num {
    color: #4287f5;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.numdesc {
    font-size: 8px;
    font-weight: bold;
}

.note {
    font-size: 8px;
    padding: 10px;
    font-weight: bold
}

.status {
    font-size: 20px;
}

.img1 {
    height: 140px;
    width: 500px;
    border-radius: 15px;
}

.embed-responsive-item {
    border-radius: 15px;
}

.btn {
    color: #1a37db;
    font-weight: bold;
}

.resourses {
    margin: 5px;
}

.resoures_heading {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.resources_desc {
    background-color: #c9cf9b;
    border-radius: 10px;
    margin: 5px;
}

.logo {
    height: 100px;
    width: 100px;
}

.resources_desc_heading {
    padding: 15px;
    font-weight: bold;
}

.imp {
    margin: 5px;
    background-color: #a8e5ed;
    padding: 15px;
}

.logo1 {
    height: 60px;
    width: 50px;
    border-radius: 50px;
}

.name {
    font-weight: bold;
    color: #3fb05d;
    padding-left: 15px;
}

.desg {
    padding-left: 15px;
}

.pmcare {
    margin: 5px;
    padding: 15px;
    text-align: center;
}

.pmcare-heading {
    font-size: 25px;

}

span {
    font-weight: bold;
}

.logo1 {
    height: 35px;
    width: 20px;
}

.pmcare-para {
    font-weight: bold;
    font-family: "Bree Serif";
}

.donate-button {
    border-width: 0px;
    background-color: transparent;
    text-align: center;
    width: 400px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
}

.t-c {
    color: #5ba4cf;
    text-align: center;
    padding: 15px;
}

.img2 {
    height: 200px;
    width: 50px;
    text-align: center;

}

.button {
    border-color: #4123d9;
    color: #4123d9;
    font-weight: bold;
    background-color: transparent;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10px;

}

.but {
    color: #ffffff;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 10px;
    border-width: 0px;
    margin-left: 50px;
    font-size: 10px;
}

.rem {
    font-size: 10px;
}